repos:
  - repo: local
    hooks:
      - id: warn-xxx-comments
        name: Warn about XXX comments
        entry: scripts/check_xxx_comments.py
        args: [--warn-only]
        language: python
        additional_dependencies: [click]
        pass_filenames: true
        types: [text]
        verbose: true
      - id: prettier-html
        name: prettier-html
        entry: npx prettier --write
        language: system
        files: \.(html|htm)$

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.400
    hooks:
      - id: pyright
