repos:
  - repo: local
    hooks:
      - id: warn-xxx-comments
        name: Warn about XXX comments
        entry: scripts/check_xxx_comments.py
        args: [--warn-only]
        language: python
        additional_dependencies: [click]
        pass_filenames: true
        types: [text]
        verbose: true
      - id: prettier-html
        name: prettier-html
        entry: npx prettier --write
        language: system
        files: \.(html|htm)$
      - id: stylelint
        name: stylelint
        entry: npx stylelint --fix
        language: system
        files: \.css$

  # NOTE: ruff version must stay in sync with requirements.txt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  # NOTE: pyright version must stay in sync with package.json
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
#       args: ["--severity=warning"]  # Optionally only show errors and warnings
