[tool.ruff]
# Line and indent settings
line-length = 88
indent-width = 4

# Python 3.12
target-version = "py312"



[tool.ruff.format]
# Single quotes and space indents
quote-style = "single"
indent-style = "space"

# Respect magic trailing commas
skip-magic-trailing-comma = false

[tool.ruff.lint]
preview = true
# Codes to fix
select = ["I", "E", "F", "UP", "B"]
# Don't automatically fix unused imports
unfixable = ["F401"]
# Ignore B008
ignore = ["B008"]

[tool.pytest.ini_options]
testpaths = ["travel-maps/tests"]
python_files = ["test_*.py"]
python_classes = ["Test*"]
python_functions = ["test_*"]
addopts = "-v --tb=short"