@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('./main.css');

/* Widget value */
.value {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Top-right corner API Docs link */
.api-docs {
  position: absolute;
  top: 1rem;
  right: 5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--title-text);
  font-size: 1.1rem;
}
