services:
  homepage:
    container_name: homepage
    # Use custom dockerfile (imports from nginx:alpine)
    image: ghcr.io/jmassucco17/homelab/homepage:latest
    build:
      context: .
      dockerfile: Dockerfile
    # Copy files from temp directory (established by dockerfile) to live directory at container start
    entrypoint: /bin/sh -c "cp -r /tmp/site/* /usr/share/nginx/html && nginx -g 'daemon off;'"
    labels:
      - 'traefik.enable=true'
    healthcheck:
      test: ['CMD', 'wget', '-qO-', 'http://127.0.0.1/']
      interval: 5s
      timeout: 1s
      retries: 3
      start_period: 2s
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true
