services:
  homepage:
    container_name: homepage
    # Use custom dockerfile (imports from nginx:alpine)
    build:
      context: .
      dockerfile: Dockerfile
    # Copy files from temp directory (established by dockerfile) to live directory at container start
    entrypoint: /bin/sh -c "cp -r /tmp/site/* /usr/share/nginx/html && nginx -g 'daemon off;'"
    labels:
      # Use traefik to provide HTTP endpoint
      - 'traefik.enable=true'
      - 'traefik.http.routers.homepage.rule=Host(`jamesmassucco.com`)'
      - 'traefik.http.routers.homepage.entrypoints=websecure'
      - 'traefik.http.routers.homepage.tls=true'
      - 'traefik.http.routers.homepage.tls.certresolver=cloudflare'
      - 'traefik.http.services.homepage.loadbalancer.server.port=80'
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost/"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true
