services:
  blog:
    container_name: blog
    build:
      context: ..
      dockerfile: blog/Dockerfile
    volumes:
      - ./app:/app/app
      - ./blog_posts:/app/blog_posts
    labels:
      # Use traefik to provide HTTP endpoint
      - 'traefik.enable=true'
      - 'traefik.http.routers.blog.rule=Host(`blog.jamesmassucco.com`)'
      - 'traefik.http.routers.blog.entrypoints=websecure'
      - 'traefik.http.routers.blog.tls=true'
      - 'traefik.http.routers.blog.tls.certresolver=cloudflare'
      - 'traefik.http.services.blog.loadbalancer.server.port=8000'
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8000/"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true
