services:
  shared-assets:
    build: .
    container_name: shared-assets
    labels:
      # Use traefik to provide HTTPS endpoint
      - 'traefik.enable=true'
      - 'traefik.http.routers.shared-assets.rule=Host(`assets.jamesmassucco.com`)'
      - 'traefik.http.routers.shared-assets.entrypoints=websecure'
      - 'traefik.http.routers.shared-assets.tls=true'
      - 'traefik.http.routers.shared-assets.tls.certresolver=cloudflare'
      - 'traefik.http.services.shared-assets.loadbalancer.server.port=80'
      # Use rate-limiting
      - 'traefik.http.routers.shared-assets.middlewares=ratelimit'
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1/"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    external: true
