<!doctype html>
<html>
  <head>
    <script>
      ;(function () {
        const cookieTheme = document.cookie
          .split('; ')
          .find((row) => row.startsWith('theme='))
          ?.split('=')[1]
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches
        const theme = cookieTheme || (prefersDark ? 'dark' : 'light')
        document.documentElement.setAttribute('data-theme', theme)
      })()
    </script>
    <title>{{ post.metadata.title }} | JM Homelab</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="https://assets{{ domain }}/icon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="shortcut icon" href="https://assets{{ domain }}/icon/favicon.ico" />
    <link rel="stylesheet" href="https://assets{{ domain }}/styles/main.css?v=2.0" />
    <link rel="stylesheet" href="/assets/styles/blog-post.css?v=2.0" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll()
    </script>
  </head>
  <body>
    <div id="theme-toggle-container"></div>
    <a href="/" class="site-home-link">
      <img
        src="https://assets{{ domain }}/icon/favicon-96x96.png"
        alt="Blog Home"
        class="site-logo"
      />
      <span>Blog Home</span>
    </a>

    <section>
      <h1>{{ post.metadata.title }}</h1>
      <article>
        <p class="date">{{ post.metadata.dt | datefmt }}</p>
        <div class="content">{{ post.content | safe }}</div>
      </article>
    </section>

    <footer>&copy; 2025 James Massucco. Built with love and Linux.</footer>
    <script type="module">
      import { insertThemeToggle } from 'https://assets{{ domain }}/scripts/theme-toggle.js?v=2.0'
      window.addEventListener('DOMContentLoaded', () => {
        insertThemeToggle() // Will look for #theme-toggle-container
      })
    </script>
  </body>
</html>
