<rss version="2.0">
  <channel>
    <title>James Massucco Blog</title>
    <link>https://blog{{ domain }}</link>
    <description>Updates from my homelab and engineering work</description>
    {% for post in posts %}
    <item>
      <title>{{ post.metadata.title }}</title>
      <link>https://blog{{ domain }}/{{ post.metadata.slug }}.html</link>
      <pubDate>{{ post.metadata.dt.strftime('%a, %d %b %Y %H:%M:%S +0000') }}</pubDate>
      <description>{{ post.metadata.summary }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>