name: Unit testing

on:
  workflow_dispatch:
  workflow_call:

jobs:
  pytest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python and dependencies
        uses: ./.github/actions/setup-python

      - name: Run unit tests
        run: pytest -v -W error
