name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    uses: ./.github/workflows/linting.yml
    with:
      base_sha: ${{ github.event.pull_request.base.sha || '' }}

  test:
    uses: ./.github/workflows/unit-testing.yml

  integration:
    needs: [lint, test]
    uses: ./.github/workflows/docker-integration.yml

  ci:
    runs-on: ubuntu-latest
    needs: integration
    permissions: {}
    steps:
      - run: echo "All CI checks passed!"
