name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    uses: ./.github/workflows/_linting.yml

  test:
    uses: ./.github/workflows/_unit-testing.yml

  integration:
    needs: [lint, test]
    uses: ./.github/workflows/_integration.yml

  ci:
    runs-on: ubuntu-latest
    needs: integration
    permissions: {}
    steps:
      - run: echo "All CI checks passed!"
