name: Pyright

on:
  pull_request:
    paths:
      - '**.py'
      - 'pyrightconfig.json'

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m venv venv
          venv/bin/pip install -r requirements.txt
          venv/bin/pip install pyright
      - name: Run Pyright
        run: venv/bin/pyright
