name: Unit Testing

on:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
    #   - name: Install dependencies
    #     run: pip install -r requirements.txt pytest
    #   - name: Run pytest
    #     run: pytest --tb=short -q $(find . -name "*_test.py" | sort) || echo "No tests found or all tests passed"
